.body {
    margin: 0 !important;
    font-family: Nunito Sans, Arial;
}

.body * {
    box-sizing: border-box;
    font-weight: 400;
}

/* HEADER AND TOP NAVIGATION */

.container {
    max-width: 1263px;
    margin: 0 auto;
    padding-left: 40px;
}

.button__yellow {
    background: #E3B873;
    color: white;
    font-style: italic;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
}

.header {
    background-color: #131313;
}

.header-content {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    height: 83px;
    max-width: 1256px;
    padding-left: 2%;
    padding-right: 7%;
    align-items: center;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}

.header-navigation {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    width: 582px;
}

.header-navigation__item a {
    text-decoration: none;
    color: white;
}

/* FIRST BLOCK - PROMOTION */

.promotion {
    background-image: url("Assets/Promo.png");
    background-size: cover;
    height: 707px;
    position: relative;
    color: #FFFFFF;
}

.promotion-overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
}

.promotion__title {
    margin: 0;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
}

.promotion__description {
    font-size: 22px;
    line-height: 36px;
    width: 504px;
}

.button__transparent {
    background: rgba(0, 0, 0, 0.0);
    color: white;
    font-style: italic;
    border-radius: 2px;
    border: 1px solid #FFFFFF;
}

/* SECOND BLOCK - COMPLETED PROJECTS */

.completed {
    background: #131313;
}

.completed-block {
    display: flex;
    padding-top: 50px;
    padding-bottom: 440px;
}

.completed-navigation {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 0px 452px;
    padding-top: 107px;
    width: 623px;
    font-family: 'Yeseva One';
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: white;
}

.completed-info__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    margin-top: 0;
}

.completed-info {
    width: 442px;
}

.completed-info__description {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}

.completed-info__details {
    display: grid;
    grid-template-columns: 1fr 1fr; /* two columns */
    grid-template-rows: 1fr 1fr;   /* two rows */
    grid-template-areas:
      "completed-info__details-item1 completed-info__details-item2"
      "completed-info__details-item3 completed-info__details-item4";
}

.completed-info__details-subtitle {
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.completed-info__details-info {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.completed-info__image {
    max-width: 679px;
    max-height: 482px;
    padding-left: 10px;
}

.completed-info__scroll {
    display: flex;
    width: 206px;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
}

.arrow__left2 {
    max-height: 1.34px;
    min-width: 40.51px;
    background: #FFFFFF;
}

.arrow__right2 {
    max-height: 1.34px;
    min-width: 40.51px;
    background: #FFFFFF;
}

.arrow__right1 {
    transform: rotate(-180deg);
}

.circle__active {
    background: #FFFFFF;
    width: 10px;         
    height: 10px;
    border-radius: 30px;
}

.circle__inactive {
    background: rgba(255, 255, 255, 0.3);
    width: 10px;         
    height: 10px;
    border-radius: 30px;
}

.arrow {
    display: flex;
    align-items: center;
}

/* THIRD BLOCK - ONLINE CONTROL */

.control-shift {
    margin-top: -360px;
}

.control-title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.control-icon {
    display: flex;
    justify-content: center;
}

.control-icon__camera {
    padding-left: 9px;
    padding-right: 9px;
}

.control-image {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 817px;
    height: 434px;
    margin-top: 30px;
}

.control-image__overlay {
    content: "";
    position: absolute;
    z-index: 1;
    width: 817px;
    height: 434px;
    background: rgba(0, 0, 0, 0.7);
}

.control-image__circle {
    position: absolute;
    z-index: 2;
}

.control-image__play {
    position: absolute;
    z-index: 3;
    margin-left: 5px;
    margin-top: -5px;
}

.control-divider {
    display: flex;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 35px;
}

.control-info {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    width: 681px;
    margin: auto;
}

.control-form {
    padding-bottom: 150px;
}

.control-form__main {
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 769px;
    height: 51px;
    padding-top: 90px;
    padding-bottom: 90px;
}

.control-form__field {
    display: grid;
}

.control-form__label {
    font-family: 'Nunito Sans';
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.control-form__input {
    width: 230px;
    font-family: 'Nunito Sans';
    font-size: 14px;
    line-height: 23px;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.control-form__button {
    width: 200px;
    height: 51px;
    text-transform: uppercase;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 13px;
    line-height: 27px;
}

.control-form__checklabel {
    cursor: pointer;
    display: flex;
    width: 286px;
    margin: auto;
}

.control-form__checkbox {
    display: none;
    padding-right: 5px;
}

.fake {
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}

.fake::before {
    content:"\2714";
    opacity: 0;
    transition: .2s;
}

.control-form__checkbox:checked + .fake::before {
    opacity: 1;
}

.control-form__checktext {
    font-family: 'Nunito Sans';
    font-size: 14px;
    line-height: 23px;
    padding-left: 5px;
}

/* FOURTH BLOCK - TYPES OF REPAIR */

.repair-title {
    font-family: 'Yeseva One';
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.repair-icon {
    display: flex;
    justify-content: center;
}

.repair-icon__camera {
    padding-left: 9px;
    padding-right: 9px;
}

.repair-types {
    display: flex;
    margin: auto;
    margin-right: 20px;
    justify-content: space-between;
    padding-bottom: 90px;
}

.repair-types__bg {

    background-size: cover;
    width: 392px;
    height: 421px;
    margin-bottom: 200px;
    margin-top: 30px;
    padding-top: 290px;
}

.redecorating--bg {
    background: url("Assets/Redecorating.png");
}

.overhaul--bg {
    background: url("Assets/Overhaul.png");
}

.designer--bg {
    background: url("Assets/Designer.png");
}

.repair-types__block {
    width: 330px;
    height: 286px;
    background-color: white;
    margin: auto;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.repair-types__title {
    font-family: 'Yeseva One';
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    padding-left: 34px;
    padding-top: 24px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.repair-types__details {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    margin-top: 10px;
    margin-bottom: 0;
}

.repair-types__button {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    width: 228px;
    height: 54px;
    margin-left: 31px;
    margin-top: -27px;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}

.request {
    display: flex;
}

.request-info {
    display: flex;
    flex-direction: column;
    background: url("Assets/BgRequest.png");
    background-size: cover;
    width: 620px;
    height: 645px;
    margin-left: -30px;
}

.request-info__item {
    display: flex;
}

.request-info__number {
    display: flex;
}

.request-info__number-bg {
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-left: 250px;
    margin-bottom: 90px;
}

.request-info__number-count {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    margin-left: -41px;
}

.request-info__description {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
    padding-top: 6px;
    padding-left: 20px;
}

.number--shift100 {
    margin-top: 100px;
}

.number--shift118 {
    margin-top: 118px;
}

.text--shift104 {
    margin-top: 104px;
}

.text--shift5 {
    margin-top: 5px;
}

.request-form__block {
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    width: 506px;
    height: 509px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    margin-left: 90px;
    margin-top: 106px;
}

.request-form__title {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    width: 297px;
    margin: auto;
    padding-top: 28px;
}

.request-form__field {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 408px;
    padding-top: 39px;
    padding-bottom: 10px;
}

.request-form__label {
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.request-form__input {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 23px;
    border: none;
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.checkmark--shift5 {
    margin-left: 50px;
    margin-top: 5px;
}

.request-form__button {
    width: 213px;
    height: 51px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    margin-left: 244px;
    margin-top: 36px;
}

.saving {
    display: flex;
    width: 441px;
    height: 72px;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 700px;
}

.saving__pig {
    display: flex;
    align-items: center;
}

.saving__pig-bg {
    background: #E3B873;
    box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
    width: 72px;
    height: 72px;
    border-radius: 36px;
}

.saving__pig-img {
    margin-left: -54px;
}

.saving__text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    width: 344px;
    height: 47px;
}

/* FIFTH BLOCK - STYLES */

/* SIXTH BLOCK - OUR CLIENTS + CONTACT */

/* SEVENTH BLOCK - SOCIALS + LOCATION */

/* EIGHTH BLOCK - FOOTER NAVIGATION */

.footer {
    background-color: #131313;
}

/* OTHER */

.yellow {
    color: #E3B873;
}

.front {
    position: relative;
    z-index: 1;
    padding-top: 190px;
}

.button-size__header {
    width: 161px;
    height: 37px;
    font-size: 11px;
}

.button-size__promo {
    width: 207px;
    height: 51px;
    font-size: 11px;
}

.active {
    color: #E3B873;
    text-decoration: underline;
    text-underline-offset: 7px;
}

.inactive {
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
}